:root {
  --basic-background-color: #ffffff;
  --additional-background-color: #2f303a;
  --basic-text-color: #212121;
  --additional-text-color: #757575;
  --additional-white-text-color: #ffffff;
  --hover-focus-color: #2196f3;
  --additional-hover-focus-color: #ffffff;
  --button-background-color: #2196f3;
  --button-border-color: #2196f3;
  --basic-logo-color: #2196f3;
  --fill-icons: rgba(255, 255, 255, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: var(--basic-text-color);
  background-color: var(--basic-background-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.cap {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  text-decoration: none;
  color: var(--basic-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition-property: color, text-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo:active {
  color: red;
}

.logo .color-two {
  color: var(--basic-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.site-nav {
  display: flex;
  padding-left: 0px;
}

.site-nav__iten {
  display: block;
  position: relative;
  margin-bottom: 0px;
}

.site-nav__iten:first-child {
  margin-left: 93px;
}

.site-nav__iten + .site-nav__iten {
  margin-left: 50px;
}

.site-nav__link {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color, text-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--hover-focus-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site-nav__link:active {
  color: red;
}

.site-nav .active:visited {
  color: var(--hover-focus-color);
}

.site-nav .active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.connection {
  display: flex;
  padding-left: 0px;
}

.connection__with-us {
  display: inline-flex;
  align-items: center;
  color: var(--additional-text-color);
}

.connection__with-us:first-child {
  margin-left: 305px;
}

.connection__with-us + .connection__with-us {
  margin-left: 30px;
}

.connection__contacts {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--additional-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-property: color, text-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.connection__contacts:hover, .connection__contacts:focus {
  color: var(--hover-focus-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.connection__contacts:active {
  color: red;
}

.connection__svg-one {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  cursor: pointer;
  fill: currentColor;
}

.connection__svg-two {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  cursor: pointer;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--additional-background-color);
}

.hero__bgr-images {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px black;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imghero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 30px;
  color: var(--additional-white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  cursor: pointer;
  color: var(--additional-white-text-color);
  background-color: var(--button-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  color: var(--basic-text-color);
}

.hero-button:active {
  color: red;
}

.information {
  padding-top: 94px;
  padding-bottom: 94px;
}

.quality {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.quality__list {
  width: 270px;
}

.quality__list::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

.quality__antenna::before {
  background-image: url(../icons/antenna.svg);
}

.quality__clock::before {
  background-image: url(../icons/clock.svg);
}

.quality__diagram::before {
  background-image: url(../icons/diagram.svg);
}

.quality__astronaut::before {
  background-image: url(../icons/astronaut.svg);
}

.quality__list + .quality__list {
  margin-left: 30px;
}

.quality__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.quality__text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--additional-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-bottom: 94px;
}

.work__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity {
  display: flex;
  padding-left: 0px;
}

.activity__image + .activity__image {
  margin-left: 30px;
}

.activity__image {
  position: relative;
}

.activity__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 224px;
  right: 0;
  width: 100%;
  height: 70px;
  color: var(--basic-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: bold;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-employees {
  display: flex;
  padding: 0px;
}

.our-employees__best {
  background-color: var(--basic-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(70, 3, 3, 0.12);
  border-radius: 4px;
}

.our-employees__best + .our-employees__best {
  margin-left: 30px;
}

.our-employees__group {
  padding: 30px;
}

.our-employees__name {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 10px;
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.our-employees__text {
  display: flex;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  justify-content: center;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.social {
  display: inline-flex;
  padding-left: 0px;
}

.social__icons {
  background-color: var(--basic-background-color);
}

.social__icons:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--hover-focus-color);
}

.social__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__svg,
.social__link:focus .social__svg {
  fill: var(--fill-icons);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: auto;
  padding-right: auto;
}

.clients__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-icons {
  display: inline-flex;
  padding-left: 0px;
}

.clients-icons__list:not(:last-child) {
  margin-right: 30px;
}

.clients-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons__link:hover, .clients-icons__link:focus {
  border: 1px solid #2196f3;
}

.clients-icons__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons__link:hover .clients-icons__svg,
.clients-icons__link:focus .clients-icons__svg {
  fill: #2196f3;
}

.component {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--additional-background-color);
}

.box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.box1 {
  flex-direction: column;
  align-items: baseline;
}

.box2 {
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
}

.box2__paragraph {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 0px;
  color: var(--additional-white-text-color);
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.box-social {
  flex-direction: column;
}

.block__box3 {
  display: inline-block;
  margin-left: 93px;
  width: 570px;
}

.block__paragraph {
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--additional-white-text-color);
}

.component-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--basic-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.component-logo:hover, .component-logo:focus {
  color: var(--additional-hover-focus-color);
}

.component-logo:active {
  color: red;
}

.color-two-logo {
  color: var(--additional-white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.group-address {
  padding-left: 0px;
}

.group-address__map {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--additional-white-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group-address__map:hover, .group-address__map:focus {
  color: var(--hover-focus-color);
}

.group-address__map:active {
  color: red;
}

.group-address__link {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group-address__link:hover, .group-address__link:focus {
  color: var(--hover-focus-color);
}

.group-address__link:active {
  color: red;
}

.social-footer {
  display: inline-flex;
  padding-left: 0px;
}

.social-footer__list:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--hover-focus-color);
}

.social-footer__svg {
  width: 20px;
  height: 20px;
  fill: var(--fill-icons);
}

.form-footer {
  display: flex;
  justify-content: space-between;
  width: 570px;
  height: 50px;
}

.form-footer__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
  transition-property: border, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-footer__input:focus {
  border: 1px solid var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-footer__button {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 1px solid var(--button-border-color);
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: var(--additional-white-text-color);
  background-color: var(--button-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}

.form-footer__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--fill-icons);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__title {
  display: none;
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.block__list-buttons {
  justify-content: center;
  display: flex;
  margin-bottom: 50px;
  padding-left: 0px;
}

.block__buttons-site {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--basic-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.block__buttons-site:nth-child(-n + 4) {
  margin-left: 8px;
}

.block__buttons-site:hover, .block__buttons-site:focus {
  color: white;
  background-color: var(--hover-focus-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.block__buttons-site:active {
  color: red;
}

.block__one {
  min-width: 73px;
  height: 38px;
  color: white;
  background-color: var(--hover-focus-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.block__two {
  min-width: 128px;
  height: 38px;
}

.block__three {
  min-width: 145px;
  height: 38px;
}

.block__four {
  min-width: 103px;
  height: 38px;
}

.block__five {
  min-width: 130px;
  height: 38px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.projects__list {
  display: block;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects__list:nth-child(3n) {
  margin-right: 0px;
}

.projects__list:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects__box {
  overflow: hidden;
  position: relative;
}

.projects__text {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects__text,
.projects__link:focus .projects__text {
  transform: translateY(0);
  opacity: 1;
}

.projects__text p {
  display: flex;
  justify-content: center;
  font-style: Regular;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  position: absolute;
  width: 322px;
  height: 168px;
  top: 63px;
  bottom: 63px;
  left: 24px;
  right: 24px;
  color: var(--additional-white-text-color);
}

.projects__picture {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.projects__review {
  padding: 20px 24px;
  border-top: 0px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects__review h2 {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__review p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  padding: 40px 40px;
  width: 528px;
  height: 581px;
  background-color: var(--basic-background-color);
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__svg {
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:focus .modal__svg {
  fill: var(--hover-focus-color);
}

.contact-form {
  width: 448px;
  min-height: 342px;
}

.contact-form__paragraph {
  display: inline-flex;
  width: 448px;
  margin: 0px 0px 12px 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}

.contact-form__box + .contact-form__box {
  margin-top: 10px;
}

.contact-form__box {
  position: relative;
}

.contact-form__label {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__field:focus + .contact-form__icon {
  fill: var(--hover-focus-color);
}

.contact-form__field {
  padding-left: 42px;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: #757575;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__field:focus {
  border: 1px solid var(--hover-focus-color);
}

.contact-form__invalid:invalid {
  border: 1px solid red;
}

.contact-form__mesagge {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: #757575;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form__mesagge:focus {
  border: 1px solid var(--hover-focus-color);
}

.contact-form__mesagge::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__checkbox {
  opacity: 0;
}

.contact-form__checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: justify;
  cursor: pointer;
}

.contact-form__checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: var(--basic-background-color);
  border: 1px solid #212121;
  border-radius: 1px;
}

.contact-form__checkbox:checked + .contact-form__checkbox-label::before {
  background-image: url(../icons/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--hover-focus-color);
  border-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form__checkbox:focus + .contact-form__checkbox-label::before {
  border-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form__checkbox-label .contact-form-link {
  margin-left: 7px;
  color: #2196f3;
}

.contact-form__box2 {
  display: flex;
  justify-content: center;
}

.contact-form__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: var(--additional-white-text-color);
  background-color: var(--button-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}
/*# sourceMappingURL=main.css.map */