.component {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--additional-background-color);

  @media screen and (max-width: 767.98px) {
    display: block;
  }
}

.box {
  @media screen and (max-width: 767.98px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.box1 {
  flex-direction: column;
  align-items: baseline;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin: 0px 0px 60px 76px;
  }
}

.box2 {
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;

  @media screen and (max-width: 767.98px) {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin: 0px 89px 102px auto;
  }
}

.box2__paragraph {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 0px;

  color: var(--additional-white-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (max-width: 1199.98px) {
    display: flex;
    justify-content: center;
    line-height: 1.17;
  }
}

.box-social {
  flex-direction: column;
}

.block__box3 {
  display: inline-block;

  @media screen and (max-width: 767.98px) {
    margin-left: 0px;
    width: 100%;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 450px;
    height: 156px;
    margin-right: 152px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.block__paragraph {
  display: inline-flex;
  margin-top: 0px;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--additional-white-text-color);

  @media screen and (max-width: 767.98px) {
    display: flex;
    justify-content: center;
    line-height: 1.17;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    justify-content: center;
  }
}
