.contact-form {
  width: 448px;
  min-height: 342px;
}

.contact-form__paragraph {
  display: inline-flex;
  width: 448px;
  margin: 0px 0px 12px 0px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--basic-text-color);
}

.contact-form__box + .contact-form__box {
  margin-top: 10px;
}

.contact-form__box {
  position: relative;
}

.contact-form__label {
  color: rgba(117, 117, 117, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form__field:focus + & {
    fill: var(--hover-focus-color);
  }
}

.contact-form__field {
  padding-left: 42px;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: rgba(117, 117, 117, 1);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--hover-focus-color);
  }
}

.contact-form__invalid:invalid {
  border: 1px solid red;
}

.contact-form__mesagge {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: rgba(117, 117, 117, 1);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--hover-focus-color);
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form__checkbox {
  opacity: 0;
}

.contact-form__checkbox-label {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: justify;
  cursor: pointer;

  &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 7px;
    background-color: var(--basic-background-color);
    border: 1px solid rgba(33, 33, 33, 1);
    border-radius: 1px;
  }

  .contact-form__checkbox:checked + &::before {
    background-image: url(../icons/vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--hover-focus-color);
    border-color: var(--hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .contact-form__checkbox:focus + &::before {
    border-color: var(--hover-focus-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.contact-form__checkbox-label .contact-form-link {
  margin-left: 7px;
  color: #2196f3;
}

.contact-form__box2 {
  display: flex;
  justify-content: center;
}

.contact-form__button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  color: var(--additional-white-text-color);
  background-color: var(--button-background-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
}
