.social {
  display: inline-flex;
  padding-left: 0px;
}

.social__icons {
  background-color: var(--basic-background-color);

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-focus-color);
  }
}

.social__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social__link:hover &,
  .social__link:focus & {
    fill: var(--fill-icons);
  }
}
