.work {
  padding-bottom: 94px;
}

.work__title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--basic-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.activity {
  display: flex;
  padding-left: 0px;
}

.activity__image + .activity__image {
  margin-left: 30px;
}

.activity__image {
  position: relative;
}

.activity__text {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 224px;
  right: 0;
  width: 100%;
  height: 70px;
  color: var(--basic-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__paragraph {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: bold;
}
