html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
  color: var(--basic-text-color);
  background-color: var(--basic-background-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
