:root {
  --basic-background-color: #ffffff;
  --additional-background-color: #2f303a;

  --basic-text-color: #212121;
  --additional-text-color: #757575;
  --additional-white-text-color: #ffffff;

  --hover-focus-color: #2196f3;
  --additional-hover-focus-color: #ffffff;

  --button-background-color: #2196f3;
  --button-border-color: #2196f3;

  --basic-logo-color: #2196f3;
  --fill-icons: rgba(255, 255, 255, 1);
}
